<html>
<head>

</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Restricted</h1>

        <p>Login or Register</p>

        <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a ui-sref="signup" class="btn btn-default"><span class="fa fa-user"></span>Register</a>
        <!--
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        -->
    </div>

</div>
</body>
</html>